<h1>Have a blind date with a book</h1>
<p>여행 중 프랑크푸르트 공항에서 서점에 들렀는데, 아주 재밌는 이벤트가 진행 중이더라고요^^</p>

<p>블라인드 데이트를 제안하는데, 그건 다름아닌 책과의 데이트입니다.!</p>

<p>손으로 투박하게 직접 포장된 책이 있는데, 어떤 책인지는 알 수 없고요, 대신에 포장지에 책과 관련된 아주 간단한 키워드와 설명들이 쓰여 있습니다:) 책의 장르와 분위기 같은 걸 알려주는 힌트들도 등장하구요^^</p>

<p>사실 우리는 책과 친해지고 싶다가도, 금방 지루해지곤 하는데요, 이런 방식으로 좀 더 색다르고 설레는 방식으로 책을 교환해서 읽어보면 어떨까요?</p>

<p>자기가 읽은 책 중에 인상깊었던 책, 남들은 잘 모르지만 꼭 한번 누군가에게 추천해주고 싶은 책들로 오컬 서가를 만드는 거예요!</p>

<p>직접 포장한 투박한 모양으로, 누군가에게 읽히게 될지 모를 기대를 안고서 말이죠. 이렇게 책 교환해서 읽으면 혹시 아나요?</p>

<p>우연히 만나게 된 blind date with a book이 당신의 인생을 송두리째 바꾸어놓을지도 모릅니다!</p>

<br/>

<%= link_to "책 리스트", bulletin_posts_path(1), class:'btn btn-default' %>