<h2>Post Preview</h2>

<p>
  <strong>No.:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.content %>
</p>

<tr>
  <th><strong>Tag list</strong></th>
  <td><%= tag_icons @post.tag_list %></td>
</tr>

<%= render "comments/comments" %>

<hr>

<%= link_to 'Edit', edit_bulletin_post_path(@post.bulletin, @post), class: 'btn btn-default' %>
<%= link_to 'Back', bulletin_posts_path, class: 'btn btn-default' %>